## Ejemplo 5: Filtros

### 1. Objetivos:
    - Aprender cómo funcionan los filtros
    - Aplicar varios filtros para verlos en acción
 
### 2. Desarrollo:

In [1]:
import pandas as pd

Creamos nuestro DataFrame a partir del archivo de datos CSV:

In [2]:
df = pd.read_csv('new_york_times_bestsellers-dirty.csv', index_col=0)

df.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95

Ahora, queremos todos los registros donde el nombre del autor empiece con 'R', entonces usamos la función `str.startswith(-patrón-)` a la columna `author` de la forma:

`df[-columna-].str.startswith(-patrón-)`

In [4]:
df["author"].str.startswith("R")

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: author, Length: 2266, dtype: bool

Lo que obtenemos de regreso es una `Serie` con la misma longitud que la columna original y la función `startswith()` se aplicó comparando cada elemento regresando un valor booleano.

Después, al pasar este filtro al `operador de indexación` del `DataFrame`, todas las filas a las que les corresponda un `True` se mantienen, mientras que las filas a las que les corresponde un `False` se dejan fuera del subconjunto resultante:

`dataframe[ -serie índice para filtrado- ]`

In [5]:
df[ df["author"].str.startswith("R") ]

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
79,http://www.amazon.com/Chasing-Darkness-Elvis-N...,Robert Crais,Descr: he Los Angeles private eye Elvis Cole r...,Simon & Schuster,CHASING DARKNESS,5b4aa4ead3089013507db209,2008-07-05 00:00:00,1216512000000,7,0,1,25.95
94,http://www.amazon.com/Chasing-Darkness-Elvis-N...,Robert Crais,Descr: Is the Los Angeles private eye Elvis Co...,Simon & Schuster,CHASING DARKNESS,5b4aa4ead3089013507db221,2008-07-12 00:00:00,1217116800000,11,7,2,25.95
110,http://www.amazon.com/Killer-View-Fleming-Ridl...,Ridley Pearson,"Descr: A sheriff in Sun Valley, Idaho, investi...",Putnam,KILLER VIEW,5b4aa4ead3089013507db239,2008-07-19 00:00:00,1217721600000,15,0,1,24.95
143,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db26f,2008-08-09 00:00:00,1219536000000,9,0,1,25.95
158,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db287,2008-08-16 00:00:00,1220140800000,No Rank,9,2,25.95
173,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db29c,2008-08-23 00:00:00,1220745600000,14,13,3,25.95
643,http://www.amazon.com/The-Sign-Raymond-Khoury/...,Raymond Khoury,Descr: Is an apparition that has been seen aro...,Dutton,THE SIGN,5b4aa4ead3089013507db5a3,2009-05-23 00:00:00,1244332800000,No Rank,0,1,26.95
660,http://www.amazon.com/The-Sign-Raymond-Khoury/...,Raymond Khoury,Descr: Is an apparition that has been seen aro...,Dutton,THE SIGN,5b4aa4ead3089013507db5bc,2009-05-30 00:00:00,1244937600000,14,9,2,26.95
777,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with thei...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db678,2009-08-08 00:00:00,1250985600000,No Rank,0,1,25.95
793,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with thei...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db68e,2009-08-15 00:00:00,1251590400000,4,2,2,25.95
804,http://www.amazon.com/Intervention-Robin-Cook/...,Robin Cook,Descr: A potentially explosive archaeological ...,Putnam,INTERVENTION,5b4aa4ead3089013507db699,2009-08-15 00:00:00,1251590400000,15,0,1,25.95
808,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with diss...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db6a3,2009-08-22 00:00:00,1252195200000,5,4,3,25.95
824,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with diss...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db6b9,2009-08-29 00:00:00,1252800000000,No Rank,5,4,25.95
843,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with diss...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db6d3,2009-09-05 00:00:00,1253404800000,13,7,5,25.95
858,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with diss...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db6e9,2009-09-12 00:00:00,1254009600000,15,13,6,25.95
872,http://www.amazon.com/That-Cape-Magic-Richard-...,Richard Russo,Descr: A long-married couple wrestle with diss...,Knopf,THAT OLD CAPE MAGIC,5b4aa4ead3089013507db6fd,2009-09-19 00:00:00,1254614400000,15,15,7,25.95
922,http://www.amazon.com/Heat-Wave-Nikki-Book-ebo...,Richard Castle,Descr: An N.Y.P.D. homicide detective investig...,Hyperion,HEAT WAVE,5b4aa4ead3089013507db749,2009-10-17 00:00:00,1257033600000,11,0,1,19.99
929,http://www.amazon.com/Heat-Wave-Nikki-Book-ebo...,Richard Castle,Descr: An N.Y.P.D. homicide detective investig...,Hyperion,HEAT WAVE,5b4aa4ead3089013507db758,2009-10-24 00:00:00,1257638400000,No Rank,11,2,19.99
957,http://www.amazon.com/Heat-Wave-Nikki-Book-ebo...,Richard Castle,Descr: An N.Y.P.D. homicide detective investig...,Hyperion,HEAT WAVE,5b4aa4ead3089013507db789,2009-11-07 00:00:00,1258848000000,15,0,3,19.99
965,http://www.amazon.com/Heat-Wave-Nikki-Book-ebo...,Richard Castle,Descr: An N.Y.P.D. homicide detective investig...,Hyperion,HEAT WAVE,5b4aa4ead3089013507db799,2009-11-14 00:00:00,1259452800000,11,15,4,19.99
980,http://www.amazon.com/Heat-Wave-Nikki-Book-ebo...,Richard Castle,Descr: An N.Y.P.D. homicide detective investig...,Hyperion,HEAT WAVE,5b4aa4ead3089013507db7b0,2009-11-21 00:00:00,1260057600000,14,11,5,19.99
1062,http://www.amazon.com/The-First-Rule-Pike-Nove...,Robert Crais,"Descr: \nElvis Cole and his partner, Joe Pike,...",Penguin Group (USA) Incorporated,THE FIRST RULE,5b4aa4ead3089013507db844,2010-01-17 00:00:00,1264896000000,2,0,1,26.95
1080,http://www.amazon.com/The-First-Rule-Pike-Nove...,Robert Crais,"Descr: \n\nElvis Cole and his partner, Joe Pik...",Putnam,THE FIRST RULE,5b4aa4ead3089013507db85b,2010-01-24 00:00:00,1265500800000,5,2,2,26.95
1093,http://www.amazon.com/The-First-Rule-Pike-Nove...,Robert Crais,"Descr: \n\nElvis Cole and his partner, Joe Pik...",Putnam,THE FIRST RULE,5b4aa4ead3089013507db86f,2010-01-31 00:00:00,1266105600000,5,5,3,26.95
1114,http://www.amazon.com/The-First-Rule-Pike-Nove...,Robert Crais,"Descr: \n\nElvis Cole and his partner, Joe Pik...",Putnam,THE FIRST RULE,5b4aa4ead3089013507db88a,2010-02-07 00:00:00,1266710400000,12,5,4,26.95
1442,http://www.amazon.com/Cure-Robin-Cook/dp/03991...,Robin Cook,Descr: \nA New York City medical examiner atte...,Putnam,CURE,5b4aa4ead3089013507dbaa8,2010-08-15 00:00:00,1283040000000,14,0,1,26.95
1530,http://www.amazon.com/Naked-Heat-Nikki-Richard...,Richard Castle,Descr: Nikki Heat’s latest murder investigatio...,Hyperion,NAKED HEAT,5b4aa4ead3089013507dbb2d,2010-10-03 00:00:00,1287273600000,7,0,1,24.99
1549,http://www.amazon.com/Naked-Heat-Nikki-Richard...,Richard Castle,Descr: Nikki Heat’s latest murder investigatio...,Hyperion,NAKED HEAT,5b4aa4ead3089013507dbb4a,2010-10-10 00:00:00,1287878400000,16,7,2,24.99
1575,http://www.amazon.com/The-Templar-Salvation-Ra...,Raymond Khoury,Descr: A secret history of the infamous Templa...,Dutton,THE TEMPLAR SALVATION,5b4aa4ead3089013507dbb72,2010-10-24 00:00:00,1289088000000,16,0,1,26.95
1717,http://www.amazon.com/The-Sentry-Joe-Pike-Nove...,Robert Crais,"Descr: Joe Pike and Elvis Cole, Hollywood priv...",Putnam,THE SENTRY,5b4aa4ead3089013507dbc54,2011-01-16 00:00:00,1296345600000,2,0,1,26.95
1733,http://www.amazon.com/The-Sentry-Joe-Pike-Nove...,Robert Crais,"Descr: Joe Pike and Elvis Cole, Hollywood priv...",Putnam,THE SENTRY,5b4aa4ead3089013507dbc6b,2011-01-23 00:00:00,1296950400000,5,2,2,26.95
1748,http://www.amazon.com/The-Sentry-Joe-Pike-Nove...,Robert Crais,Descr: The former cop Joe Pike finds that a pa...,Putnam,THE SENTRY,5b4aa4ead3089013507dbc82,2011-01-30 00:00:00,1297555200000,8,5,3,26.95
1763,http://www.amazon.com/The-Sentry-Joe-Pike-Nove...,Robert Crais,Descr: The former cop Joe Pike finds that a pa...,Putnam,THE SENTRY,5b4aa4ead3089013507dbc99,2011-02-05 00:00:00,1298160000000,11,8,4,26.95
1778,http://www.amazon.com/The-Sentry-Joe-Pike-Nove...,Robert Crais,Descr: The former cop Joe Pike finds that a pa...,Putnam,THE SENTRY,5b4aa4ead3089013507dbcb0,2011-02-12 00:00:00,1298764800000,No Rank,11,5,26.95
2147,http://www.amazon.com/Heat-Rises-Nikki-Richard...,Richard Castle,Descr: An N.Y.P.D. homicide detective uncovers...,Hyperion,HEAT RISES,5b4aa4ead3089013507dbf23,2011-09-24 00:00:00,1318118400000,1,0,1,25.99
2167,http://www.amazon.com/Heat-Rises-Nikki-Richard...,Richard Castle,Descr: An N.Y.P.D. homicide detective uncovers...,Hyperion,HEAT RISES,5b4aa4ead3089013507dbf40,2011-10-01 00:00:00,1318723200000,10,1,2,25.99
2191,http://www.amazon.com/Heat-Rises-Nikki-Richard...,Richard Castle,Descr: An N.Y.P.D. homicide detective uncovers...,Hyperion,HEAT RISES,5b4aa4ead3089013507dbf6a,2011-10-15 00:00:00,1319932800000,12,0,3,25.99
2350,http://www.amazon.com/Taken-Elvis-Cole-Robert-...,Robert Crais,Descr: It’s Joe Pike to the rescue when Elvis ...,Putnam,TAKEN,5b4aa4ead3089013507dc08b,2012-01-28 00:00:00,1329004800000,1,0,1,26.95
2364,http://www.amazon.com/Taken-Elvis-Cole-Robert-...,Robert Crais,Descr: It’s Joe Pike to the rescue when Elvis ...,Putnam,TAKEN,5b4aa4ead3089013507dc0a1,2012-02-04 00:00:00,1329609600000,3,1,2,26.95
2370,http://www.amazon.com/The-Fear-Index-Robert-Ha...,Robert Harris,Descr: A billionaire hedge fund manager in Gen...,Knopf,THE FEAR INDEX,5b4aa4ead3089013507dc0aa,2012-02-04 00:00:00,1329609600000,12,0,1,25.95
2378,http://www.amazon.com/Taken-Elvis-Cole-Robert-...,Robert Crais,Descr: It’s Joe Pike to the rescue when Elvis ...,Putnam,TAKEN,5b4aa4ead3089013507dc0ba,2012-02-11 00:00:00,1330214400000,8,3,3,26.95
2384,http://www.amazon.com/The-Fear-Index-Robert-Ha...,Robert Harris,Descr: A billionaire hedge fund manager in Gen...,Knopf,THE FEAR INDEX,5b4aa4ead3089013507dc0c1,2012-02-11 00:00:00,1330214400000,15,12,2,25.95
2394,http://www.amazon.com/Taken-Elvis-Cole-Robert-...,Robert Crais,Descr: It’s Joe Pike to the rescue when Elvis ...,Putnam,TAKEN,5b4aa4ead3089013507dc0d4,2012-02-18 00:00:00,1330819200000,14,8,4,26.95
2469,http://www.amazon.com/The-Cove-Novel-Ron-Rash/...,Ron Rash,Descr: Intrigue in backwoods North Carolina du...,Ecco/HarperCollins,THE COVE,5b4aa4ead3089013507dc176,2012-04-14 00:00:00,1335657600000,16,0,1,26.99
2536,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc1e6,2012-05-26 00:00:00,1339286400000,8,0,1,27.99
2546,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc1fe,2012-06-02 00:00:00,1339891200000,12,8,2,27.99
2559,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc216,2012-06-09 00:00:00,1340496000000,16,12,3,27.99
2563,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc220,2012-06-16 00:00:00,1341100800000,6,16,4,27.99
2571,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc233,2012-06-23 00:00:00,1341705600000,5,6,5,27.99
2582,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc24b,2012-06-30 00:00:00,1342310400000,9,5,6,27.99
2594,http://www.amazon.com/Canada-Richard-Ford-eboo...,Richard Ford,Descr: A boy takes refuge in Saskatchewan afte...,Ecco/HarperCollins Publishers,CANADA,5b4aa4ead3089013507dc262,2012-07-07 00:00:00,1342915200000,12,9,7,27.99
2692,http://www.amazon.com/Frozen-Heat-Nikki-Richar...,Richard Castle,Descr: The N.Y.P.D. homicide detective Nikki H...,Hyperion,FROZEN HEAT,5b4aa4ead3089013507dc326,2012-09-15 00:00:00,1348963200000,8,0,1,26.99
2891,http://www.amazon.com/Suspect-Robert-Crais-ebo...,Robert Crais,Descr: A Los Angeles policeman and a German sh...,Putnam,SUSPECT,5b4aa4ead3089013507dc49d,2013-01-26 00:00:00,1360454400000,3,0,1,27.95
2905,http://www.amazon.com/Suspect-Robert-Crais-ebo...,Robert Crais,Descr: A Los Angeles policeman and a German sh...,Putnam,SUSPECT,5b4aa4ead3089013507dc4b4,2013-02-02 00:00:00,1361059200000,No Rank,3,2,27.95
2918,http://www.amazon.com/Suspect-Robert-Crais-ebo...,Robert Crais,Descr: A Los Angeles policeman and a German sh...,Putnam,SUSPECT,5b4aa4ead3089013507dc4c9,2013-02-09 00:00:00,1361664000000,No Rank,6,3,27.95
2930,http://www.amazon.com/Suspect-Robert-Crais-ebo...,Robert Crais,Descr: A Los Angeles policeman and a German sh...,Putnam,SUSPECT,5b4aa4ead3089013507dc4dd,2013-02-16 00:00:00,1362268800000,7,7,4,27.95
2945,http://www.amazon.com/Suspect-Robert-Crais-ebo...,Robert Crais,Descr: A Los Angeles policeman and a German sh...,Putnam,SUSPECT,5b4aa4ead3089013507dc4f7,2013-02-23 00:00:00,1362873600000,13,7,5,27.95

Podemos también guardar nuestras condiciones en variables y después utilizarlos, por ejemplo, encuentra todas las producciones cuyo precio es mayor a 20:

In [8]:
mayor_a_20 = df["price.numberDouble"] > 20
mayor_a_20

0       True
1       True
2       True
3       True
5       True
        ...
3027    True
3028    True
3029    True
3030    True
3031    True
Name: price.numberDouble, Length: 2266, dtype: bool

In [9]:
df[mayor_a_20].head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95

Podemos incluso aplicar dos o más filtros utilizando `operadores lógicos`. En este caso, nuestro operador `and` se representa con un `&` y el operador `or` se representa con `|`.

Así que podemos obtener todas las producciones con rango 1 y que además cuyo precio sea mayor a 20:

In [13]:
rank_numero_uno = (df["price.numberDouble"] > 20) & (df["rank.numberInt"] == "1")
rank_numero_uno

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Length: 2266, dtype: bool

In [14]:
df[mayor_a_20 & rank_numero_uno].head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
51,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin’s,FEARLESS FOURTEEN,5b4aa4ead3089013507db1db,2008-06-21 00:00:00,1215302400000,1,0,1,27.95
63,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin’s,FEARLESS FOURTEEN,5b4aa4ead3089013507db1ef,2008-06-28 00:00:00,1215907200000,1,1,2,27.95
85,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db217,2008-07-12 00:00:00,1217116800000,1,0,1,26.95

---
---

## Reto 5: Filtros

### 1. Objetivos:
    - Practicar el uso de filtros para la obtención de subconjuntos de datos
    
### 2. Desarrollo:

#### a) Filtrando por fechas, booleanos y valores numéricos

Vamos a trabajar con el mismo dataset que guardaste del Reto anterior. Este Reto consiste en los siguiente:

Usando filtros, crea 3 subconjuntos de datos:

1. Un subconjunto llamado `df_hazardous` que contenga sólo los records que correspondan a los objetos donde `is_potentially_hazardous_asteroid` sea `True` (o `1`).
2. Un subconjunto llamado `df_greater_than_1000` que contenga sólo los records donde el `estimated_diameter.meters.estimated_diameter_max` sea mayor a 1000 metros.
3. Un subconjunto llamado `df_february` que contenga sólo los records que pertenezcan exactamente al mes de Febrero de 1995. Recuerda que los datos en la columna `epoch_date_close_approach` están en milisegundos.

In [27]:
df_reto_5.dtypes

Unnamed: 0.1                                          int64
Unnamed: 0.1.1                                        int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                            object
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour               float64
orbit_class_description                              object
id                                                    int64
name                                                 object
relative_velocity.kilometers_per_minute             float64
proportion_of_max_diameter_to_earth                 float64
dtype: object

In [16]:
df_reto_5 = pd.read_csv("objetos_cercanos_4.csv", index_col=0)
df_reto_5.head(3)

,Unnamed: 0.1,Unnamed: 0.1.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,2,3,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008

In [34]:
df_hazardous = df_reto_5["is_potentially_hazardous_asteroid"] == True
df_hazardous = df_reto_5[df_hazardous]
df_hazardous

,Unnamed: 0.1,Unnamed: 0.1.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,0,2154652-154652 (2004 EP20),True,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,2,3,3837644-(2019 AY3),True,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008
3,3,4,3843493-(2019 PY),True,22.108281,49.435619,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.446700,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473,0.000004
4,4,5,3765015-(2016 WR48),True,160.160338,358.129403,1995-01-08 00:00:00.000000,1970-01-01 00:13:09.569160,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361,0.000028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,327,2311554-311554 (2006 BQ147),True,483.676488,1081.533507,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.387740,Earth,15.474761,55709.139812,Near Earth asteroid orbits similar to that of ...,2311554,311554 (2006 BQ147),928.485664,0.000085
297,297,328,2267136-267136 (2000 EF104),True,441.118200,986.370281,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.340220,Earth,16.180392,58249.410194,Near Earth asteroid orbits similar to that of ...,2267136,267136 (2000 EF104),970.823503,0.000077
298,298,329,3360486-(2006 WE4),True,441.118200,986.370281,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.381440,Earth,15.106140,54382.104639,Near Earth asteroid orbits which cross the Ear...,3360486,(2006 WE4),906.368411,0.000077
299,299,330,3656919-(2014 BG3),True,160.160338,358.129403,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.368480,Earth,20.343173,73235.423517,An asteroid orbit contained entirely within th...,3656919,(2014 BG3),1220.590392,0.000028
300,300,331,3803762-(2018 GY4),True,421.264611,941.976306,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.371240,Earth,29.732426,107036.733058,Near Earth asteroid orbits similar to that of ...,3803762,(2018 GY4),1783.945551,0.000074

In [37]:
df_bigger_than_1000 = df_reto_5["estimated_diameter.meters.estimated_diameter_max"] > 1000
df_bigger_than_1000 = df_reto_5[df_bigger_than_1000]
df_bigger_than_1000

,Unnamed: 0.1,Unnamed: 0.1.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,0,2154652-154652 (2004 EP20),True,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
5,5,6,3824107-(2018 JB3),True,802.703167,1794.898848,1995-01-08 00:00:00.000000,1970-01-01 00:13:09.562440,Earth,32.160753,115778.710301,Near Earth asteroid orbits which cross the Ear...,3824107,(2018 JB3),1929.645172,0.000141
8,8,9,3645123-(2013 NX23),True,483.676488,1081.533507,1995-01-05 00:00:00.000000,1970-01-01 00:13:09.345060,Earth,21.605199,77778.715682,Near Earth asteroid orbits similar to that of ...,3645123,(2013 NX23),1296.311928,0.000085
13,13,14,2137062-137062 (1998 WM),True,1272.198785,2844.722965,1995-01-06 00:00:00.000000,1970-01-01 00:13:09.367620,Earth,9.604877,34577.556386,Near Earth asteroid orbits similar to that of ...,2137062,137062 (1998 WM),576.292606,0.000223
23,23,26,2138947-138947 (2001 BA40),True,506.471459,1132.504611,1995-01-04 00:00:00.000000,1970-01-01 00:13:09.221760,Earth,10.155092,36558.329695,Near Earth asteroid orbits which cross the Ear...,2138947,138947 (2001 BA40),609.305495,0.000089
53,53,57,2002062-2062 Aten (1976 AA),True,1010.543415,2259.643771,1995-01-12 00:00:00.000000,1970-01-01 00:13:09.875040,Earth,10.324052,37166.587108,Near Earth asteroid orbits similar to that of ...,2002062,2062 Aten (1976 AA),619.443118,0.000177
58,58,63,2152964-152964 (2000 GP82),True,766.575574,1714.115092,1995-01-13 00:00:00.000000,1970-01-01 00:13:10.001100,Earth,10.734807,38645.303568,Near Earth asteroid orbits which cross the Ear...,2152964,152964 (2000 GP82),644.088393,0.000135
77,77,84,3643994-(2013 LV28),True,461.907460,1032.856481,1995-01-11 00:00:00.000000,1970-01-01 00:13:09.854940,Earth,25.508069,91829.048391,Near Earth asteroid orbits which cross the Ear...,3643994,(2013 LV28),1530.484140,0.000081
84,84,93,3753133-(2016 JU24),True,506.471459,1132.504611,1995-01-18 00:00:00.000000,1970-01-01 00:13:10.440120,Earth,16.488846,59359.846812,An asteroid orbit contained entirely within th...,3753133,(2016 JU24),989.330780,0.000089
91,91,100,2443103-443103 (2013 WT67),True,667.659413,1492.931834,1995-01-19 00:00:00.000000,1970-01-01 00:13:10.552500,Earth,13.630530,49069.909393,Near Earth asteroid orbits which cross the Ear...,2443103,443103 (2013 WT67),817.831823,0.000117
98,98,110,2373579-373579 (2002 AW11),True,483.676488,1081.533507,1995-01-21 00:00:00.000000,1970-01-01 00:13:10.674900,Earth,14.099890,50759.605369,Near Earth asteroid orbits similar to that of ...,2373579,373579 (2002 AW11),845.993423,0.000085
103,103,115,2162463-162463 (2000 JH5),True,766.575574,1714.115092,1995-01-22 00:00:00.000000,1970-01-01 00:13:10.779960,Earth,17.373784,62545.623341,Near Earth asteroid orbits similar to that of ...,2162463,162463 (2000 JH5),1042.427056,0.000135
111,111,124,2103067-103067 (1999 XA143),True,1160.259082,2594.418179,1995-01-29 00:00:00.000000,1970-01-01 00:13:11.378400,Earth,26.152266,94148.158550,Near Earth asteroid orbits similar to that of ...,2103067,103067 (1999 XA143),1569.135976,0.000204
123,123,138,2005751-5751 Zao (1992 AC),True,2914.439045,6516.883822,1995-01-25 00:00:00.000000,1970-01-01 00:13:11.073240,Earth,8.677449,31238.817229,Near Earth asteroid orbits similar to that of ...,2005751,5751 Zao (1992 AC),520.646954,0.000511
126,126,142,3724644-(2015 OL35),True,667.659413,1492.931834,1995-01-25 00:00:00.000000,1970-01-01 00:13:11.036040,Earth,17.283853,62221.872295,Near Earth asteroid orbits similar to that of ...,3724644,(2015 OL35),1037.031205,0.000117
144,144,162,2340666-340666 (2006 RO36),True,732.073989,1636.967205,1995-01-23 00:00:00.000000,1970-01-01 00:13:10.877220,Earth,13.451593,48425.733821,Near Earth asteroid orbits similar to that of ...,2340666,340666 (2006 RO36),807.095564,0.000128
145,145,163,2418265-418265 (2008 EA32),True,1394.938229,3119.176705,1995-01-23 00:00:00.000000,1970-01-01 00:13:10.864740,Earth,18.318477,65946.517681,Near Earth asteroid orbits similar to that of ...,2418265,418265 (2008 EA32),1099.108628,0.000245
159,159,180,3781883-(2017 SN14),True,461.907460,1032.856481,1995-02-05 00:00:00.000000,1970-01-01 00:13:12.008220,Earth,15.857860,57088.295988,Near Earth asteroid orbits similar to that of ...,3781883,(2017 SN14),951.471600,0.000081
189,189,214,3446396-(2009 CT5),True,461.907460,1032.856481,1995-02-08 00:00:00.000000,1970-01-01 00:13:12.248100,Earth,39.605328,142579.180493,Near Earth asteroid orbits similar to that of ...,3446396,(2009 CT5),2376.319675,0.000081
218,218,246,2275792-275792 (2001 QH142),True,555.334912,1241.766613,1995-02-17 00:00:00.000000,1970-01-01 00:13:12.990540,Earth,15.600674,56162.425739,Near Earth asteroid orbits similar to that of ...,2275792,275792 (2001 QH142),936.040429,0.000097
222,222,250,2085953-85953 (1999 FK21),True,637.609790,1425.738833,1995-02-17 00:00:00.000000,1970-01-01 00:13:13.051020,Earth,17.455279,62839.004914,Near Earth asteroid orbits similar to that of ...,2085953,85953 (1999 FK21),1047.316749,0.000112
238,238,268,2306462-306462 (1999 RC32),True,530.340723,1185.877909,1995-02-16 00:00:00.000000,1970-01-01 00:13:12.959700,Earth,16.731455,60233.239266,Near Earth asteroid orbits which cross the Ear...,2306462,306462 (1999 RC32),1003.887321,0.000093
244,244,274,2192642-192642 (1999 RD32),True,1460.679643,3266.178974,1995-02-13 00:00:00.000000,1970-01-01 00:13:12.662280,Earth,33.931711,122154.159629,Near Earth asteroid orbits similar to that of ...,2192642,192642 (1999 RD32),2035.902660,0.000256
259,259,290,3766034-(2016 XQ23),True,581.507040,1300.289270,1995-02-24 00:00:00.000000,1970-01-01 00:13:13.642200,Earth,10.671826,38418.574911,Near Earth asteroid orbits similar to that of ...,3766034,(2016 XQ23),640.309582,0.000102
274,274,305,2200840-200840 (2001 XN254),True,802.703167,1794.898848,1995-02-23 00:00:00.000000,1970-01-01 00:13:13.520520,Earth,10.029412,36105.884704,Near Earth asteroid orbits which cross the Ear...,2200840,200840 (2001 XN254),601.764745,0.000141
278,278,309,2455594-455594 (2004 SV55),True,699.125232,1563.291544,1995-02-23 00:00:00.000000,1970-01-01 00:13:13.552260,Earth,37.610169,135396.608951,Near Earth asteroid orbits which cross the Ear...,2455594,455594 (2004 SV55),2256.610149,0.000123
288,288,319,2326386-326386 (2001 OA14),True,530.340723,1185.877909,1995-02-20 00:00:00.000000,1970-01-01 00:13:13.272960,Earth,21.838840,78619.822678,Near Earth asteroid orbits similar to that of ...,2326386,326386 (2001 OA14),1310.330378,0.000093
296,296,327,2311554-311554 (2006 BQ147),True,483.676488,1081.533507,1995-02-21 00:00:00.000000,1970-01-01 00:13:13.387740,Earth,15.474761,55709.139812,Near Earth asteroid orbits similar to that of ...,2311554,311554 (2006 BQ147),928.485664,0.000085

In [61]:
df_reto_5_fecha = df_reto_5.copy()
#df_reto_5_fecha["epoch_date_close_approach"] = pd.to_datetime(df_reto_5_fecha["epoch_date_close_approach"], unit="ns")
df_reto_5_fecha
#valor_check = df_reto_5_fecha["epoch_date_close_approach"]
#valor_check
#df_reto_5_fecha.query("epoch_date_close_approach >= '1995-01-01'")
#df_reto_5_fecha[df_reto_5_fecha["epoch_date_close_approach"].isin(pd.date_range('1995-01-01', '1995-12-01'))]
df_february = df_reto_5_fecha[df_reto_5_fecha["epoch_date_close_approach"].isin(pd.date_range('1995-02-01', '1995-02-28'))] #(df_reto_5_fecha["epoch_date_close_approach"] == '1995-02-01 00:00:00.000000') 
#df_february = df_reto_5_fecha[df_february] 
df_february
#No logre encontrar la manera de filtra por la fecha a pesar de convertirla.

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0.1.1, id_name, is_potentially_hazardous_asteroid, estimated_diameter.meters.estimated_diameter_min, estimated_diameter.meters.estimated_diameter_max, close_approach_date, epoch_date_close_approach, orbiting_body, relative_velocity.kilometers_per_second, relative_velocity.kilometers_per_hour, orbit_class_description, id, name, relative_velocity.kilometers_per_minute, proportion_of_max_diameter_to_earth]
Index: []

In [60]:
def checar_subconjuntos( df_hazardous, df_bigger_than_1000):
    
    import pandas as pd
    import base64

    datos = b'CmFzc2VydCAoZGZfaGF6YXJkb3VzWydpc19wb3RlbnRpYWxseV9oYXphcmRvdXNfYXN0ZXJvaWQnXSA9PSAwKS5zdW0oKSA9PSAwLCAnQWxndW5vcyByZWNvcmRzIGVuIGBkZl9oYXphcmRvdXNgIHBlcnRlbmVjZW4gYSBvYmpldG9zIGRvbmRlIGlzX3BvdGVudGlhbGx5X2hhemFyZG91c19hc3Rlcm9pZCBlcyBgRmFsc2VgJwphc3NlcnQgKGRmX2hhemFyZG91c1snaXNfcG90ZW50aWFsbHlfaGF6YXJkb3VzX2FzdGVyb2lkJ10gPT0gMSkuc3VtKCkgPiAwLCAnTm8gaGF5IG5pbmd1biByZWNvcmQgZW4gYGRmX2hhemFyZG91c2AgZG9uZGUgaXNfcG90ZW50aWFsbHlfaGF6YXJkb3VzX2FzdGVyb2lkIHNlYSBgVHJ1ZWAnCgphc3NlcnQgKGRmX2JpZ2dlcl90aGFuXzEwMDBbJ2VzdGltYXRlZF9kaWFtZXRlci5tZXRlcnMuZXN0aW1hdGVkX2RpYW1ldGVyX21heCddIDw9IDEwMDApLnN1bSgpID09IDAsICdBbGd1bm9zIHJlY29yZHMgZW4gYGRmX2JpZ2dlcl90aGFuXzEwMDBgIHBlcnRlbmVjZW4gYSBvYmpldG9zIGNvbiBkacOhbWV0cm8gbWVub3IgYSAxMDAwIG1ldHJvcycKYXNzZXJ0IChkZl9iaWdnZXJfdGhhbl8xMDAwWydlc3RpbWF0ZWRfZGlhbWV0ZXIubWV0ZXJzLmVzdGltYXRlZF9kaWFtZXRlcl9tYXgnXSA+IDEwMDApLnN1bSgpID4gMCwgJ05vIGhheSBuaW5nw7puIHJlY29yZCBlbiBgZGZfYmlnZ2VyX3RoYW5fMTAwMGAgcXVlIHBlcnRlbmV6Y2EgYSBvYmpldG9zIGNvbiBkacOhbWV0cm8gbWF5b3IgYSAxMDAwIG1ldHJvcycKCmZlYnJ1YXJ5ID0gcGQudG9fZGF0ZXRpbWUoJzE5OTUtMDItMDEnLCBmb3JtYXQ9JyVZLSVtLSVkJykudGltZXN0YW1wKCkgKiAxMDAwCm1hcmNoID0gcGQudG9fZGF0ZXRpbWUoJzE5OTUtMDMtMDEnLCBmb3JtYXQ9JyVZLSVtLSVkJykudGltZXN0YW1wKCkgKiAxMDAwIAoKYXNzZXJ0IChkZl9mZWJydWFyeVsnZXBvY2hfZGF0ZV9jbG9zZV9hcHByb2FjaCddIDwgZmVicnVhcnkpLnN1bSgpID09IDAsICdBbGd1bm9zIHJlY29yZHMgZGUgYGRmX2ZlYnJ1YXJ5YCBwZXJ0ZW5lY2VuIGEgbWVzZXMgYW50ZXJpb3JlcyBhIEZlYnJlcm8gZGUgMTk5NScKYXNzZXJ0IChkZl9mZWJydWFyeVsnZXBvY2hfZGF0ZV9jbG9zZV9hcHByb2FjaCddID49IG1hcmNoKS5zdW0oKSA9PSAwLCAnQWxndW5vcyByZWNvcmRzIGRlIGBkZl9mZWJydWFyeWAgcGVydGVuZWNlbiBhIG1lc2VzIHBvc3RlcmlvcmVzIGEgRmVicmVybyBkZSAxOTk1Jwo='
    eval(compile(base64.b64decode(datos), "", "exec"), globals())
    
    print('Todos tus subconjuntos son correctos. ¡Gran trabajo!')
    
checar_subconjuntos( df_hazardous, df_bigger_than_1000)

Todos tus subconjuntos son correctos. ¡Gran trabajo!